<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>A REST compliant web service (ASP.Net Web API): </h1>
                <h2>It provides access to aggregated wind farm data from different data sources.</h2>
            </hgroup>
            <p>
                The data is aggregated based upon the wind farm name, using a matching algorithm specifically designed to 
                match wind farm names.  The data from each source is 'imported' into the service, but where possible the
                service store a link to the actual data, which is retrieved directly from the data source when requested.
            </p>
            <p>
                The two data sources currently defined, contain information about wind farms in Scotland:<br/>
                <strong>Scottish National Heritage</strong>, which contains windfarm Status and Footprint information, 
                in the form of a downloaded KML dataset.<br/>
                <strong>Renewable UK</strong>, which is a national web site containing Statistical information about wind
                farms, information is accessed dynamically from the web site.  
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        
 
    </section>
</div>

