@{
    ViewBag.Title = "DataTypes";
}

<h2>DataTypes</h2>
<p>
    Click the link below to list Data Types available for the Windfarm Service.
</p>
<div id="apilinks">
    <ul>
        <li>
            <a rel="datatype" href="#" title="datatype">/api/datatype</a>
        </li>
    </ul>
</div>

