@{
    ViewBag.Title = "DataSources";
}

<h2>DataSources</h2>
<p>
    The link below is the top URL available to search for DataSources defined to the Windfarm Service.
</p>
<div id="apilinks">
    <ul>
        <li>
            <a rel="datasources" href="#" title="datasource" data-method="get">/api/datasource/</a>
        </li>
    </ul>
</div>




