@{
    ViewBag.Title = "Imports";
}

<h2>Imports</h2>

<div id="apilinks">
    <p>
        Click either of the links to import a datasource.  They submit a PUT request with the SNH
        needing a dataset to be uploaded.  When the file open dialog opens, select either of the
        <strong>June2013.kml</strong>, <strong>October2013.kml</strong> or <strong>Invalid.kml</strong> 
        files, which are in the <strong>UnitTests/Data</strong> directory within the solution.
    </p>
    <ul>
        <li>
            <div class="inline" >Import SNH (Dataset)</div>
            <a href="#" id="importSnh" class="inline" title="Import" data-method="put" data-input="kmlfile">/api/import/1</a>
            <div class="inline">
                <span  class="inline">Upload KML file</span>
                <input id="kmlfile" class="inline" name="kmlfile" type="file"/>
            </div>
        </li>
        <li>
            <div class="inline">Import RnewableUk (Web Scrape)</div>
            <a href="#" id="importRenUk" class="inline" title="Import" data-method="put" data-input="none">/api/import/2</a>
        </li>
    </ul>
</div>

